/* General page background */
body {
    background-color: #f3f4f6;
}

/* Custom card shadow */
.custom-card {
    box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
}

/* Custom heading */
.heading {
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
}

/* Footer */
footer {
    margin-top: 50px;
    text-align: center;
    font-size: 14px;
    color: #555;
}
