@tailwind base;
@tailwind components;
@tailwind utilities;
/* Light pink full background */
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffe6f2;
}

/* Centering everything inside #root */
#root {
  padding: 2rem;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Card style */
.card {
  background: rgb(188, 230, 37);
  padding: 2rem;
  width: 350px;
  border-radius: 15px;
  border: 2px solid #ffb6d6;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
}
